body {
    background-color: black;
}

.fotoperfil {
    color: white;
    text-align: center;
    font-size: 42px;
    border-radius: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 200px;
    margin: 30px;
    border-width: 5px;
    display: inline-block;
}

.titulogeral0 {
    display: inline;
    color: white;
    margin-left: 460px;
    position: absolute;
    margin-top: 120px;
    font-size: 64px;
}

.sairconta {
    display: inline-block;
    background-color: red;
    margin-right: 10px;
    margin-top: 150px;
    border-style: solid;
    margin-left: 1300px;
    padding: 12px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    transition: 200ms;
    position: absolute;

}

.geral0 {
    border-style: solid;
    border-color: crimson;
    background-color: #444;
    display: block;
}

.geral {
    border-style: solid;
    display: inline-flex;
    width: 75%;
}

.abaesquerda {
    color: white;
    text-align: justify;
    font-size: 16px;
    width: 15%;
    margin: 30px;
    border-color: blueviolet;
    background-color: #444;
    padding-left: 5px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 15px;
}

.sobre {
    color: white;
    text-align: justify;
    font-size: 16px;
    width: 64%;
    border-style: solid;
    border-color: red;
    border-radius: 12px;
    display: inline-table;
    height: 400px;
    padding: 15px;
    margin: 42px;
    margin-top: 15px;
}

.sobretitulo {
    text-align: center;
    font-size: 32px;
    border-style: solid;
    border-color: darkorange;
    border-radius: 12px;
    margin-top: 5px;
}

.geral1 {
    color: white;
    border-color: forestgreen;
    background-color: #444;
    width: 20%;
    display: inline-table;
    height: 500px;
    text-align: center;
    margin-left: 45px;
    border-radius: 10px;
    position: absolute;
    margin-top: 15px;
}

.username {
    color: white;
    background-color: red;
    border-radius: 3px;
    transition: 200ms;
    display: grid;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 10px;
    max-inline-size: 160px;
    margin-top: -15px;
}

.bloodtype {
    color: white;
    background-color: red;
    border-radius: 3px;
    transition: 200ms;
    display: grid;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    max-inline-size: 160px;
    margin-top: -15px;
}

.location {
    color: white;
    background-color: red;
    border-radius: 3px;
    transition: 200ms;
    display: grid;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    max-inline-size: 160px;
    margin-top: -15px;
}

.email {
    color: white;
    background-color: red;
    border-radius: 3px;
    transition: 200ms;
    display: grid;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    max-inline-size: 160px;
    margin-top: -15px;
}

.number {
    color: white;
    background-color: red;
    border-radius: 3px;
    transition: 200ms;
    display: grid;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    max-inline-size: 160px;
    margin-top: -15px;
}

.historico {
    border-color: #444;
    border-bottom: red;
    border-style: dashed;
    padding-bottom: 8px;
}

.voltar {
    position: absolute;
    margin: 5px;
    margin-left: 5px;
    background-color: red;
    border-style: solid;
    padding: 8px;
    font-size: 12px;
    color: white;
    border-radius: 10px;
    transition: 200ms;
}

::placeholder {
    color: white;
}