body{
    background-color: black !important;
}
#cabecalho{
    background-color: #444 !important;
}
#Titulo{
    color: white ;
    font-size: 30px;
}
#btn_entrar{
    border-color: red;
    color: white;
    background-color: red;
    margin: 3px;
}
#btn_nusuario{
    border-color: red;
    color: white;
    background-color: red;
    margin: 3px;
}
#btn_salvar{
    border-color: red;
    color: white;
    background-color: red;
    margin: 3px;
}
#btn_cancelar{
    border-color: red;
    color: white;
    background-color: red;
    margin: 3px;
}
.modal-body {
    background-color: #444;

}
.modal-header{
    background-color: #444;
}
.modal-footer{
    background-color: #444 !important;
}
